---
layout: default
title: Press
suppress_header: true
extra_css:
  - press.css
---

<div class="wrapper">
  <div class="title">
    <h1>PRESS
    <br />
    <small>information for journalists</small></h1>
  </div>

  <div class="list">

    <div class="item listing">
      <h2>ARTICLES
      <br />
      <div class="btn-group-vertical">
        <a class="btn btn-default" href="http://thenextweb.com/insider/2014/06/04/github-rival-gitlab-building-business-just-0-1-paying-customers/">The Next Web</a>
        <a class="btn btn-default" href="/files/press/the_next_web_dutch_original.pdf">Financieele Dagblad (Dutch original, PDF)</a>
        <a class="btn btn-default" href="/files/press/the_next_web_english_translation.pdf">Financieele Dagblad (English translation, PDF)</a>
      </div>
      </h2>
    </div>

    <div class="item listing">
      <h2>PODCASTS
      <br />
      <div class="btn-group-vertical">
        <a class="btn btn-default" href="http://blog.bitnami.com/2014/10/bitnami-open-source-leaders-interview.html">Bitnami Open Source Leaders Interview Series (Oct 2014)</a>
        <a class="btn btn-default" href="http://www.binpress.com/blog/2014/08/05/binpress-podcast-episode-5-sytse-sijbrandij-gitlab/">Binpress podcast (Aug 2014)</a>
        <a class="btn btn-default" href="http://episodes.gitminutes.com/2013/11/gitminutes-25-sytse-sijbrandij-from.html">Git Minutes (Nov 2013)</a>
        <a class="btn btn-default" href="http://thechangelog.com/103/">The Changelog (Sep 2013)</a>
      </div>
      </h2>
    </div>

    <div class="item listing">
      <h2>LOGOS
      <br />
      <div class="btn-group-vertical">
        <a class="btn btn-default" href="https://gitlab.com/gitlab-com/gitlab-artwork/repository/archive.zip">Artwork (zip)</a>
        <a class="btn btn-default" href="https://gitlab.com/gitlab-com/gitlab-artwork/tree/master">Repository</a>
      </div>
      </h2>
    </div>

    <div class="item listing">
      <h2>TWITTER
      <br />
      <div class="btn-group-vertical">
        <a class="btn btn-default" href="https://twitter.com/gitlab">Our tweets</a>
        <a class="btn btn-default" href="https://twitter.com/gitlab/favorites">What people say</a>
      </div>
      </h2>
    </div>

    <a href="/blog/" class="item link">
      <h2>BLOG
      <br />
      <small>our news releases</small>
      </h2>
    </a>

    <a href="/about/" class="item link">
      <h2>ABOUT
      <br />
      <small>our values and goals</small>
      </h2>
    </a>

    <a href="/team/" class="item link">
      <h2>TEAM
      <br />
      <small>our team</small>
      </h2>
    </a>

    <a href="mailto:press@gitlab.com" class="item link">
      <h2>CONTACT
      <br />
      <small>please contact us at press@gitlab.com</small>
      </h2>
    </a>

  </div>
</div>
