body {
  background: #f9f9f9;
}

li {
  margin-left: 15px;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 17px;
  font-family: "Korolev-Medium";
  font-weight: 200;
}

h1, h2, h3, h4, h5, button, a {
  font-family: "Korolev-Medium";
}

.wrapper {
  min-height: 0;
}

.contributing-container {
  position: relative;
  width: 100%;
  height: 125px;
  overflow: hidden;
  background: #548;
  background-size: cover;
}

.contributing-overlay {
  background: rgba(85, 68, 136, 0.62);
  height: 500px;
}

.contributing-content {
  padding-top: 25px;
  text-align: center;
  color: white;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.container-contributing {
  padding: 7%;
}