body {
  background-color: rgba(85, 68, 136, 0.23);
  font-family: "Korolev-Medium";  
}


p {
  font-size: 17px;
  font-family: "Korolev-Medium";
  font-weight: 200;
}

h1, h2, h3, h4, h5, button, a {
  font-family: "Korolev-Medium";
}

.wrapper {
  min-height: 0;
}

.documentation-container {
  position: relative;
  width: 100%;
  height: 125px;
  overflow: hidden;
  background: #548;
}

.documentation-overlay {
  background: rgba(85, 68, 136, 0.62);
  height: 500px;
}

.documentation-content {
  padding-top: 25px;
  text-align: center;
  color: white;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.container-documentation {
  padding: 5%;
}
