h1 {
  color: #548;
}

a {
    font-family: "Korolev-Light";
}

h1, h2, h3, h4, h5, button, a, p, li {
  font-family: "Korolev-Medium";
}

.wrapper {
  min-height: 0;
  margin: 0 auto;
}

  .wrapper:after {
    height: 0;
}

.header {
  margin: 2% 0 3% 0;
  font-weight: 100;
}

.header-feature-small ul {
  color: white;
  width: 90%;
  margin: 7% 0 0 0;
}

.header-feature {
  display:inline-block;
}

  .header-feature ul {
    width: 107%;
    padding: 0;
    list-style-type: none;
  }

    .header-feature li {
      margin-left: 3%;
      text-align: center;
      width: 23%;
      float: left;
      border: 1px solid white;
      border-radius: 14px;
      padding: 3px;
      height: 235px;
      width: 193px;
      background: rgba(57, 38, 113, 0.49)      
    }

    .header-feature li:first-child {
      margin-left: -4%;
      padding: 3px;
      width: 193px;
    }

      .header-feature li:first-child p {
        padding-top: 18%;
      }

    .header-feature li:nth-child(2) {
      padding: 5px;
      width: 185px
    }

      .header-feature li:nth-child(2) p {
        padding-top: 16%;
      }

    .header-feature li:nth-child(3) {
      padding: 2px;
      width: 190px;
    }

      .header-feature li:nth-child(3) p {
        padding-top: 15%;
      }

.image-title {
background: url(/images/gitlab-com/animal.jpg);
  background-size: 100%;
}

.image-title .color-bg {
  text-align: center;
  padding-bottom: 2%;
  height: 100%;
  width: 100%;
  margin-top: -1px;
  background: rgba(57, 38, 113, 0.49);
  background-image: linear-gradient(-180deg, rgba(8,114,161,0.83) 0%, rgba(57, 38, 113, 0.49) 100%);
}
  .color-bg h1 {
    font-family: "Korolev-Medium";
    position: relative;
    padding: 64px 0 3px 0;
    margin-top: 0;
    color: #fff;
    font-size: 55px;
  }

  .color-bg h3 {
    font-family: "Korolev-Light";
    font-size: 32px;
    color: rgba(255, 255, 255, 0.62);
    line-height: 32px;
    padding-bottom: 30px;
    font-weight: 200;
  }

  .color-bg i {
    font-size: 3em;
  }

  .color-bg p {
    font-size: 21px;
  }

    .color-bg li {
      color: white;
      font-size: 22px;
    }

.image-title .row:nth-child(2) {
  display: inline;
}

.sub-wrapper {
    background: #f5f5f5;
}

.sub-wrapper {
  font-size: 17px;
  font-weight: 200;
}

.panels {
  margin-top: 4%;
}

  .panels h1:first-child {
    text-align: center;
    margin-bottom: 3%;
  }

  .panels .panel-title {
    font-size: 25px;
  }

  .panels .panel-body {
    font-size: 19px;
    font-weight: 100;
    font-family: "Korolev-Medium";
  }

.advantages {
  margin-top: 5%;
}

.advantages ul p {
  font-weight: 100;
  font-size: 12px;
}

.advantages div:nth-child(3) {
  margin-top: 4%;
  width: 446px;
}

.advantages div:nth-child(3) img {
  width: 430px;
  position: absolute;
}

.advantages div:nth-child(3) p {
  font-family: "Korolev-Medium";
  font-size: 6em;
  font-weight: 100;
  float: right;
  margin-top: 20px;
}

.support i {
  font-size: 13em;
  color: #548;
  border: 4px solid #548;
  border-radius: 40px;
  padding: 22px;
}

.security {
  margin-bottom: 9%;
}

  .security .fa {
    font-size: 14em;
    color: darkblue;
    margin-left: 10%;
  }

.divider {
  margin: auto;
  margin-top: 80px;
  width: 970px;
  border-color: #D3D3D3;
  border-width: 1px;
  max-width: 100%;
  margin-bottom: 60px;
}

/* buttons */
#join-community {
  animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.join-btn-style {
  background: #5D4D93;
  color: white;
  border: 1px solid white;
}

  .join-btn-style:hover {
    text-decoration: none;
  }

.content ul,
.content li, p {
  font-size: 16px;
}

#footer {
  padding: 0;
  border-top: 0;
}
