/* Installation */

body {
  font-size: 16px;
}

.method {
  margin-bottom: 50px;
}

.method:first-child {
  margin-top: 55px;
}
.method:last-child {
  margin-bottom: 0px;
}

.simple-header {
  padding: 60px;
}
