#landing {
  padding: 0;
  height: 575px;
  overflow: hidden;
  background-image: url(/images/ci/fox.jpeg);
  background-repeat: no-repeat;
  background-size: 100%
}

#landing .main-screenshot {
    padding-top: 0;
    display: inline-block;
    margin-top: 50px;
    background: -moz-linear-gradient(top, rgba(85,68,136,0.85) 0%, rgba(85,68,136,0.85) 99%, rgba(85,68,136,0.85) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(85,68,136,0.85)), color-stop(99%,rgba(85,68,136,0.85)), color-stop(100%,rgba(85,68,136,0.85))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(85,68,136,0.85) 0%,rgba(85,68,136,0.85) 99%,rgba(85,68,136,0.85) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(85,68,136,0.85) 0%,rgba(85,68,136,0.85) 99%,rgba(85,68,136,0.85) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(85,68,136,0.85) 0%,rgba(85,68,136,0.85) 99%,rgba(85,68,136,0.85) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(85,68,136,0.85) 0%,rgba(85,68,136,0.85) 99%,rgba(85,68,136,0.85) 100%); /* W3C */
}

#landing .container {
  height: 100%;
  width: 100%;
  text-align: center;
  background: -moz-linear-gradient(top, rgba(85,68,136,0.85) 0%, rgba(85,68,136,0.85) 99%, rgba(85,68,136,0.85) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(85,68,136,0.85)), color-stop(99%,rgba(85,68,136,0.85)), color-stop(100%,rgba(85,68,136,0.85))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(85,68,136,0.85) 0%,rgba(85,68,136,0.85) 99%,rgba(85,68,136,0.85) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(85,68,136,0.85) 0%,rgba(85,68,136,0.85) 99%,rgba(85,68,136,0.85) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(85,68,136,0.85) 0%,rgba(85,68,136,0.85) 99%,rgba(85,68,136,0.85) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(85,68,136,0.85) 0%,rgba(85,68,136,0.85) 99%,rgba(85,68,136,0.85) 100%); /* W3C */
}

@media (max-width: 960px) {
    #landing {
        background-size: cover;
    }
}
@media (max-width: 688px) {
    #landing {
        min-height: 0;
        height: 82%;
        background-size: cover;        
    }

    #landing h1 {
      font-size: 22px !important;
    }

    #landing h3 {
      font-size: 19px !important;
    }

    .landing-ctas {
      margin-top: 0 !important;
    }

    #landing .landing-ctas a {
      font-size: 15px;
      margin: 10px 0 10px 0;
      padding: 0;
    }

}

@media (max-width: 388px) {
    #landing {
        min-height: 0;
        height: 82%;
        background-size: cover;        
    }

    #landing h1 {
      font-size: 18px !important;
      padding-top: 0 !important;
    }

    #landing h3 {
      margin-top: 0 !important;
      font-size: 15px !important;
    }

    #landing .container .row div .text-left {
      padding: 0 0 0 0;
    }

    .landing-ctas {
      margin-top: 0 !important;
    }

    #landing .landing-ctas a {
      font-size: 15px;
      margin: 10px 0 10px 0;
      padding: 0;
    }

    .read-more-tweets a {
      padding: 2px !important;
    }
}

#landing h1 {
    font-size: 50px;
    color: white;
    font-family: 'Korolev-Medium';
    padding-top: 50px;
    padding-bottom: 12px;
}

#landing h3 {
    font-size: 36px;
    color: white;
    font-family: 'Korolev-Light';
}

.landing-header {
  line-height: 58px;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

.landing-header {
  line-height: 58px;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

.landing-sub {
  font-weight: 200;
}

.landing-buttons {
  margin-bottom: 70px;
}

.light-link {
  color: #F0AD4E;
}

.landing-ctas {
  margin-top: 31px;
  text-align: center;
}

.landing-ctas a {
  position: relative;
  display: inline-block;
  margin: 25px 25px;
  outline: none;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 21px;
  padding: 7px 10px 5px;
  text-shadow: none;
  font-family: "Korolev-Medium";
}

.landing-ctas a::before,
.landing-ctas a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(255,255,255,0.5);
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  transform: scale(0.85);
}

.landing-ctas a::after {
  opacity: 0;
  -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.landing-ctas a:hover::before,
.landing-ctas a:hover::after,
.landing-ctas a:focus::before,
.landing-ctas a:focus::after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  background: rgba(255,255,255,1);
}

.landing-ctas a:hover::after,
.landing-ctas a:focus::after {
  top: 0%;
  opacity: 1;
}

.content {
  background-color: white;
  margin: 0;
  padding: 30px;
}

.what-is {
  width: 100%;
  background-color: #f5f5f5;
  border-top: 1px solid rgba(0,0,0,0.075);;
  border-bottom: 1px solid rgba(0,0,0,0.075);
}

  .what-is .row {
    padding-top: 50px;
  }

.what-container {
  margin-left: 3%;
  margin-top: 10px;
}

.what-column {
  font-family: "Korolev-Medium";
  float: left;
  margin-right: 3%;
  width: 30%;
}

.what-item {
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  margin-right: 0 !important;
  overflow: hidden;
  margin-bottom: 1.313em;
}

.what-image {
  position: relative;
  overflow: hidden;
  background-size: cover;
}

  .what-image i {
    font-size: 6em;
    color: #548;
    margin-top: 17px;
  }

  .what-image h3 {
    font-family: "Korolev-Medium";
    color: #548;
    font-size: 28px;
  }

.what-content {
  padding: 1.5em;
  box-shadow: none;
}

.what-content p {
  font-family: "Korolev-Medium";
  font-size: 18px;
  text-align: left;
}

  .what-container div:nth-child(2) .what-content {
    padding-bottom: 62px;
  }

  .what-container div:nth-child(3) .what-content {
    padding-bottom: 76px;
  }

.what-is div:nth-child(2) {
  text-align: center;
  margin-bottom: 2%;
}

.landing-page-download {
  margin: 0;
  padding-bottom: 5%;
}

  .landing-page-download h1 {
    font-family: "Korolev-Light";
  }

.see-further {
  text-align: center;
}

.see-further i {
  color: white;
  font-size: 33px;
  margin-top: 14px;
}

.comparison {
  background: #548;
  color: white;
  padding: 10px;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 9px;
  text-decoration: none;
  transition: all 0.2s
}

  .comparison:hover {
    background-color: #D9CCFF;
    color: white;
    text-decoration: none;
  }

#download-landing {
  font-family: "Korolev-Medium";
  background: #5D4D93;
  color: white;
  border: 1px solid white;
  transition: all 0.2s;
  padding: 10px;
  font-size: 21px;
  border-radius: 4px;
  text-decoration: none;
}

  #download-landing:hover {
    background: #fff;
    color: #548;
    border-color: #548;
  }

@media (max-width: 780px) {
  .what-column {
    width: 100%;
  }

  .what-container .what-column:nth-child(3) {
    width: 100%;
  }
}

.logos-holder {
    text-align: center;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 10px;
}

.logos-inner {
    border: 1px solid #e5e5e5;
    height: 180px;
    vertical-align: middle;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding-top: 54px;
}

.logos img {
    width: auto;
    display: inline-block;
    max-height: 70px;
}

  .logos div:nth-child(1) .logos-inner {
    padding-top: 38px;
  }

  .logos div:nth-child(8) .logos-inner {
    padding-top: 24px;
  }

  .logos div:nth-child(11) .logos-inner {
    padding-top: 25px;
  }

  .logos div:nth-child(11) img {
    max-height: 107px;
  }

  .logos div:nth-child(17) .logos-inner {
    padding-top: 38px;
  }

  .logos div:nth-child(18) .logos-inner {
    padding-top: 40px;
  }


.logos small {
    color: #18191a;
    font-family: 'Korolev-Light';
    font-size: 100%;
    margin-top: 40px;
}

.logos h2 {
    font-size: 36px;
    color: #18191a;
    font-family: 'Korolev-Light';
}

.logos span {
    font-family: 'Korolev-Medium';
    color: #a0c720;
}

.twitter-head h2 {
  font-family: 'Korolev-Medium';
}

.read-more-tweets {
  text-align: center;
}

.read-more-tweets a{
  background: #548;
  color: white;
  padding: 9px;
  border: 1px solid white;
  border-radius: 9px;
  cursor: pointer;
  text-decoration: none;
}

.videos h1 {
  font-family: 'Korolev-Medium';
}

/* animations! */
.come-in {
  -webkit-transform: translateY(150px);
  -webkit-animation: come-in 0.8s ease forwards;
  -moz-transform: translateY(150px);
  -moz-animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
}
.already-visible {
  -webkit-transform: translateY(0);
  -webkit-animation: none;
  -moz-transform: translateY(0);
  -moz-animation: none;
}

@-webkit-keyframes come-in {
  to {  -webkit-transform: translateY(0);    
  }
}
@-moz-keyframes come-in {
  to {  -moz-transform: translateY(0);    
  }
}
