---
layout: default
title: Getting help for GitLab
suppress_header: true
extra_css:
  - getting-help.css
---

  <div class="help-container">
    <div class="help-overlay">
      <div class="help-content">
        <h1>Getting Help For GitLab</h1>
      </div>
    </div>
  </div>

<div id="content" class="txt-lefty">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        <ul>
          <li><p><a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/MAINTENANCE.md">Maintenance policy</a> specifies what versions are supported.</p></li>
          <li><p><a href="https://forum.gitlab.com/">GitLab Community Forum</a> is the place to share, ask and discuss everything related to GitLab.</p></li>
          <li><p><a href="https://github.com/gitlabhq/gitlab-public-wiki/wiki/Trouble-Shooting-Guide">Troubleshooting guide</a> contains solutions to common problems.</p></li>
          <li><p><a href="https://groups.google.com/forum/#!forum/gitlabhq">Mailing list</a> and <a href="http://stackoverflow.com/questions/tagged/gitlab">Stack Overflow</a> are the best places to ask questions. Examples may be: permission denied errors, invisible repos, can't clone/pull/push or with web hooks that don't fire. Please search for similar issues before posting your own, there's a good chance somebody else had the same issue you have now and has resolved it. There are many helpful GitLab users there who may be able to help you quickly. If your particular issue turns out to be a bug, it will soon find its way toward a fix.</p></li>
          <li><p><a href="http://feedback.gitlab.com">Feature request forum</a> is the place to propose and discuss new features for GitLab.</p></li>
          <li><p><a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md">Contributing guide</a> describes how to submit merge requests and issues. Pull requests and issues not in line with the guidelines in this document will be closed.</p></li>
          <li><p><a href="https://about.gitlab.com/subscription/">A subscription</a> allows you to <a href="https://about.gitlab.com/contact/">contact</a> our GitLab service engineers to solve your problem.</p></li>
          <li><p><a href="https://about.gitlab.com/consultancy/">Consultancy</a> from the GitLab experts for installations, upgrades and customizations.</p></li>
          <li><p><a href="https://webchat.freenode.net/?channels=gitlab">#gitlab IRC channel</a> on Freenode to get in touch with other GitLab users and get help. It is managed by James Newton (newton), Drew Blessing (dblessing), and Sam Gleske (sag47).</p></li>
          <li>
            <p>
              <a href="https://www.packtpub.com/application-development/gitlab-cookbook">The GitLab Cookbook</a>, written by core team member Jeroen van Baarsen, is the most comprehensive book about GitLab.
              Version two of the <a href="http://git-scm.com/book/en/v2">Pro Git book</a> has a <a href="http://git-scm.com/book/en/v2/Git-on-the-Server-GitLab">section about GitLab</a>.
              O'Reilly Media is working on a <a href="http://shop.oreilly.com/product/0636920034520.do">book</a>, as well as <a href="http://shop.oreilly.com/product/0636920034872.do?code=WKGTVD">videos</a> about git and GitLab. They also provide a <a href="http://player.oreilly.com/videos/9781491912003?toc_id=194077">free video about creating a GitLab account</a>.
            </p>
          </li>
          <li><p><a href="https://gitter.im/gitlabhq/gitlabhq#">Gitter chat room</a> here you can ask questions when you need help.</p></li>
          <li><p><a href="https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg">GitLab Youtube Channel</a> where you can see video's of features and installation options.</p></li>
          <li><p><a href="http://doc.gitlab.com/ce/">GitLab documentation</a> has articles about the functionality in GitLab for users, administrators and developers.</p></li>
          <li><p><a href="https://gitlab.com/gitlab-org/gitlab-ce/issues">The issue tracker</a> lists errors and bugs people are experiencing. Please read the <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md#issue-tracker">contributing guidelines</a> before posting on the issue tracker.</p></li>
          <li><p><a href="https://about.gitlab.com/gitlab-com/">GitLab.com</a> users can use the <a href="https://gitlab.com/gitlab-com/support-forum/issues">GitLab.com Support Forum</a> if they do not have a support package.</p></li>
        </ul></article>
      </div>
    </div>
  </div>
</div>
