{% unless page.no_header %}
  <header>
    {% if post.image_title != nil %}
      <div class="image-title" style="background: url({{ post.image_title }}); background-size: 100%;">
        <div class="color-bg">
          <h1><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
        </div>
      </div>

      <h4 class="meta date">
        {% include post/date.html %}{{ time }}
        {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
        | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread"
        data-disqus-identifier="{% if post.meta.disqus_id %}{{ post.meta.disqus_id }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">Comments</a>
        {% endif %}
      </h4>

    {% else %}
      {% if index %}
        <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
      {% else %}
        <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
      {% endif %}
      {% unless page.meta == false %}
        <h4 class="meta date">
          {% include post/date.html %}{{ time }}
          {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
             | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread"
               data-disqus-identifier="{% if post.meta.disqus_id %}{{ post.meta.disqus_id }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">Comments</a>
          {% endif %}
        </h4>
        <hr class="blog-title-divider">
      {% endunless %}
    {% endif %}
  </header>
{% endunless %}
{% if index %}
  <div class="entry-content">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}
<div class="entry-content">{{ content }}</div>
{% endif %}
